#Maven Project File
target/
bin/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties


# Eclipse Project file
.settings/
.project
.classpath

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Idea Project file
*.iml
*.ipr
*.iws
.idea/
tgd-dao/target/
tgd-interface/target/
tgd-service/target/
tgd-ui/src/main/webapp/data/
tgd-ui/target/classes/com/
tgd-ui/target/generated-sources/
tgd-ui/target/tgd-ui/WEB-INF/classes/com/
tgd-ui/target/tgd-ui/WEB-INF/lib/
out
test-output
atlassian-ide-plugin.xml
.gradletasknamecache
local.properties


# SVN 目录
.svn
_svn


# Flex项目文件
.externalToolBuilders
.actionScriptProperties
.flexProperties
FlexFormatConfig.properties


# Java Files #
*.jar
*.war
*.ear
*.class
classes/
.cache/



#gradle文件
.gradle
gradle-app.setting
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar


# 其他文件
*.log
*.bak
doc/
.sonar_lock

# 苹果机器的内部管理文件
*~
.DS_Store
node_modules/
dist/

/172.config.js